@charset "UTF-8";
/* Universal Styles */
body {
  background-color: black;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
}
/* Nav Bar */

header {
 position: fixed;
 width: 100%;
 height: 69px;
 border-bottom: 1px solid seashell;
 display: inline-flex;
 flex-flow: row nowrap;
}

img {
  height: 50px;
  width: auto;
  margin-left: 10px;

}

nav {
  margin-right: 10px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

#nav {
  text-decoration: underline;
  
}
